:root{
  --bg1: #641E16;
  --bg1soft: #896D71;
  --bg2: #283747;
  --bg2soft: #34495E;
  --color1: #F4F6F7;
  --color2:#D7DBDD ;
  --color3:#909497;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-color: var(--bg2);
  color: var(--color1);
}
a{
  text-decoration: none;
  color: inherit;
}
.container{
  max-width:100dvw;
  min-height: 100dvh;
}
